spring:
  datasource:
    url: jdbc:mysql://localhost:3306/wit?serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: ssafy
    password: ssafy

    hikari:
      maximum-pool-size: 1000
      minimum-idle: 10
      connection-timeout: 3000

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

management:
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics

server:
  tomcat:
    threads:
      max: 1000
    accept-count: 1000
